<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General setting</title>
        <title lang="de-DE">General setting</title>
        <input-field type="single-select">
            <name>mode</name>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                    <name lang="de-DE">Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                    <name lang="de-DE">Live</name>
                </option>
            </options>
            <defaultValue>test</defaultValue>
            <label>Plugin mode</label>
            <label lang="de-DE">Plugin mode</label>
        </input-field>
        <input-field type="single-select">
            <name>paymentmode</name>
            <options>
                <option>
                    <id>checkout</id>
                    <name>Checkout with redirect</name>
                    <name lang="de-DE">Checkout with redirect</name>
                </option>
                <option>
                    <id>api</id>
                    <name>API with no redirect</name>
                    <name lang="de-DE">Api with no redirect</name>
                </option>
            </options>
            <defaultValue>checkout</defaultValue>
            <label>Payment mode</label>
            <label lang="de-DE">Payment mode</label>
        </input-field>
        <input-field type="single-select">
            <name>byjunob2b</name>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
            <defaultValue>disabled</defaultValue>
            <label>Enable B2B check</label>
            <label lang="de-DE">Enable B2B check</label>
        </input-field>
        <input-field>
            <name>cembrapayloginlive</name>
            <label>Live ClientId</label>
            <label lang="de-DE">User ID</label>
        </input-field>
        <input-field>
            <name>cembrapaypasswordlive</name>
            <label>Live Password</label>
            <label lang="de-DE">User ID</label>
        </input-field>
        <input-field>
            <name>cembrapaylogintest</name>
            <label>Test ClientId</label>
            <label lang="de-DE">User ID</label>
        </input-field>
        <input-field>
            <name>cembrapaypasswordtest</name>
            <label>Test Password</label>
            <label lang="de-DE">User ID</label>
        </input-field>
        <input-field>
            <name>byjunominimum</name>
            <label>Mininmal amount for checkout (empty, default 10)</label>
            <label lang="de-DE">Mininmal amount for checkout (empty, default 10)</label>
            <defaultValue>10</defaultValue>
        </input-field>
        <input-field>
            <name>byjunomaximum</name>
            <label>Maximal amount for checkout  (empty, default 1000)</label>
            <label lang="de-DE">Maximal amount for checkout  (empty, default 1000)</label>
            <defaultValue>1000</defaultValue>
        </input-field>
        <input-field>
            <name>byjunotimeout</name>
            <label lang="de-DE">Connection timeout to CembraPay server in seconds</label>
            <defaultValue>30</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>byjunothreatmetrixenable</name>
            <label>Enable ThreatMetrix security check</label>
            <label lang="de-DE">Enable ThreatMetrix security check</label>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
            <defaultValue>disabled</defaultValue>
        </input-field>
        <input-field>
            <name>byjunothreatmetrix</name>
            <label>ThreatMetrix Org Id</label>
            <label lang="de-DE">ThreatMetrix Org Id</label>
            <defaultValue>lq866c5i</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>byjunousecdp</name>
            <label>Screening before show payment</label>
            <defaultValue>enabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>

            <helpText>
                </helpText>
        </input-field>
        <component name="sw-text">
            <name>help1</name>
            <label>if "Screening before show payment" is enabled by the merchant, the merchant explicitly agrees and warrants the following:
                </label>
        </component>
        <component name="sw-text">
            <name>help1</name>
            <label> - The merchant (as data controller) assigns CembraPay (as data processor) to perform a credit-check (screening) on its behalf. In this case the end-customers data (name, address, date of birth, contact information (email, telephone number) as well as IP-Address, Used Proxy Servers, etc.) is automatically being sent from the merchant to CembraPay and further to Intrum as subprocessor. CembraPay confirms or rejects to the merchant the availability of CembraPay payment solution for the specific customer.
                </label>
        </component>
        <component name="sw-text">
            <name>help1</name>
            <label> - The merchant must clearly and transparently inform the end-customers about the data processing by CembraPay and Intrum and obtain (if legally required) their consent. It is in the sole responsibility of the merchant to assess the legality of this data processing and the merchant must ensure at all times full compliance with applicable data protection regulations.
            </label>
        </component>
        <input-field type="single-select">
            <name>byjunoS4</name>
            <label>Enable Settle Transaction</label>
            <defaultValue>enabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>byjunoS4trigger</name>
            <label>Settle trigger place</label>
            <defaultValue>invoice</defaultValue>
            <options>
                <option>
                    <id>invoice</id>
                    <name>On document creation, please specify document type below</name>
                    <name lang="de-DE">On document creation, please specify document type below</name>
                </option>
                <option>
                    <id>orderstatus</id>
                    <name>On order status change (Specify order status below)</name>
                    <name lang="de-DE">On order status change (Specify order status below)</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>byjunoS4triggername</name>
            <label>Specify order status to trigger Settle (completed,open,in_progress)</label>
            <label lang="de-DE">Specify order status to trigger Settle (completed,open,in_progress)</label>
            <defaultValue>completed</defaultValue>
            <options>
                <option>
                    <id>completed</id>
                    <name>completed</name>
                    <name lang="de-DE">completed</name>
                </option>
                <option>
                    <id>open</id>
                    <name>open</name>
                    <name lang="de-DE">open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>in_progress</name>
                    <name lang="de-DE">in_progress</name>
                </option>
            </options>
        </input-field>
        <input-field>
            <name>byjunoS4techname</name>
            <label>Specify Settle possible document names</label>
            <label lang="de-DE">Specify Settle possible document names</label>
            <defaultValue>invoice</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>byjunoS5</name>
            <label>Enable Cancel &amp; Creditnote Transaction</label>
            <defaultValue>enabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field>
            <name>byjunoS5techname</name>
            <label>Specify Creditnote possible document names</label>
            <label lang="de-DE">Specify Creditnote possible document names</label>
            <defaultValue>cancellation_invoice,storno</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>byjunoallowpostal</name>
            <label>Allow postal delivery</label>
            <defaultValue>enabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>byjunogender</name>
            <label>Enable gender selection</label>
            <defaultValue>enabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field>
            <name>byjunogendermale</name>
            <label>Salutation values to detect male gender</label>
            <defaultValue>Mr,Mr.,Herr,Herr.</defaultValue>
            <helpText>Comma separated values without spaces</helpText>
        </input-field>
        <input-field>
            <name>byjunogenderfemale</name>
            <label>Salutation values to detect female gender</label>
            <defaultValue>Mrs,Mrs.,Ms,Ms.,Frau,Frau.</defaultValue>
            <helpText>Comma separated values without spaces</helpText>
        </input-field>
        <input-field type="single-select">
            <name>byjunobirthday</name>
            <label>Enable birthday selection</label>
            <defaultValue>enabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field>
            <name>byjunoprodemail</name>
            <label>Production email of CembraPay</label>
            <label lang="de-DE">Production email of CembraPay</label>
            <defaultValue>invoices@cembrapay.ch</defaultValue>
        </input-field>
        <input-field>
            <name>byjunotestemail</name>
            <label>Test email of CembraPay</label>
            <label lang="de-DE">Test email of CembraPay</label>
            <defaultValue>invoices-test@cembrapay.ch</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>byjunoS3ActionEnable</name>
            <label>Enable CembraPay flow action</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>byjunoS3ActionPaymentMethod</name>
            <label>CembraPay flow payment method</label>
            <defaultValue>byjuno_payment_invoice</defaultValue>
            <options>
                <option>
                    <id>byjuno_payment_invoice</id>
                    <name>Invoice</name>
                    <name lang="de-DE">Invoice</name>
                </option>
                <option>
                    <id>byjuno_payment_installment</id>
                    <name>Installment</name>
                    <name lang="de-DE">installment</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>byjunoS3ActionRepayment</name>
            <label>CembraPay flow payment plan</label>
            <defaultValue>byjuno_invoice</defaultValue>
            <options>
                <option>
                    <id>single_invoice</id>
                    <name>Single invoice</name>
                    <name lang="de-DE">Single invoice</name>
                </option>
                <option>
                    <id>byjuno_invoice</id>
                    <name>CembraPay invoice</name>
                    <name lang="de-DE">CembraPay invoice</name>
                </option>
                <option>
                    <id>installment_3</id>
                    <name>3 Installments</name>
                    <name lang="de-DE">3 Installments</name>
                </option>
                <option>
                    <id>installment_4</id>
                    <name>4 Installments</name>
                    <name lang="de-DE">3 Installments</name>
                </option>
                <option>
                    <id>installment_6</id>
                    <name>6 Installments</name>
                    <name lang="de-DE">6 Installments</name>
                </option>
                <option>
                    <id>installment_12</id>
                    <name>12 Installments</name>
                    <name lang="de-DE">12 Installments</name>
                </option>
                <option>
                    <id>installment_24</id>
                    <name>24 Installments</name>
                    <name lang="de-DE">24 Installments</name>
                </option>
                <option>
                    <id>installment_36</id>
                    <name>36 Installments</name>
                    <name lang="de-DE">36 Installments</name>
                </option>
                <option>
                    <id>installment_48</id>
                    <name>36 Installments</name>
                    <name lang="de-DE">48 Installments</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>byjunoS3ActionDelivery</name>
            <label>CembraPay flow invoice delivery method</label>
            <defaultValue>email</defaultValue>
            <options>
                <option>
                    <id>email</id>
                    <name>Email</name>
                    <name lang="de-DE">Email</name>
                </option>
                <option>
                    <id>postal</id>
                    <name>Postal</name>
                    <name lang="de-DE">Postal</name>
                </option>
            </options>
        </input-field>
    </card>
    <card>
        <title>Allowed payments CembraPay invoice (Only when use "API with no redirect")</title>
        <title lang="de-DE">Allowed payments CembraPay invoice (Only when use "API with no redirect")</title>

        <input-field type="single-select">
            <name>byjunoinvoice</name>
            <label>CembraPay Invoice (with partial payment option)</label>
            <defaultValue>enabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>singleinvoice</name>
            <label>CembraPay Single Invoice</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>byjunoinvoiceb2b</name>
            <label>CembraPay Invoice (with partial payment option) (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>singleinvoiceb2b</name>
            <label>CembraPay Single Invoice (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
    </card>
    <card>
        <title>Allowed payments CembraPay installment (Only when use "API with no redirect")</title>
        <title lang="de-DE">Allowed payments CembraPay installment (Only when use "API with no redirect")</title>
        <input-field type="single-select">
            <name>installment3</name>
            <label>3 installments</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment4</name>
            <label>4 installments</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment6</name>
            <label>6 installments</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment12</name>
            <label>12 installments</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment24</name>
            <label>24 installments</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment36</name>
            <label>36 installments</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment48</name>
            <label>48 installments</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment3b2b</name>
            <label>3 installments (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment4b2b</name>
            <label>4 installments (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment6b2b</name>
            <label>6 installments (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment12b2b</name>
            <label>12 installments (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment24b2b</name>
            <label>24 installments (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment36b2b</name>
            <label>36 installments (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>installment48b2b</name>
            <label>48 installments (B2B)</label>
            <defaultValue>disabled</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Disabled</name>
                </option>
                <option>
                    <id>enabled</id>
                    <name>Enabled</name>
                    <name lang="de-DE">Enabled</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
