{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_checkout %}
        <div class="account-register">
        <div class="row">
            <div class="col-lg-12">
                <div class="card register-card">
                    <div class="card-body">
                        <div class="card-body">

                            <p class="finish-ordernumber">
                                {{ "ByjunoPayment.order_canceled" | trans }}
                            </p>

                            <div class="finish-content">
                                <div class="finish-action">
                                    <a href="/" class="btn btn-primary finish-back-button" title="{{ "ByjunoPayment.back_to_shop" | trans }}">
                                        {{ "ByjunoPayment.back_to_shop" | trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}